
.main-content {
  padding: 20px;
}

.dashboard-cards {
  display: grid;
  grid-template-columns: repeat(9, 1fr); /* 3 columns for all rows */
  grid-gap: 30px; /* Spacing between cards */
}

/* Common card styles */
.card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-height: 250px;
}
/* First row cards span across multiple columns */
.card.appointments {
  grid-column:span 5; /* Appointments spans 2 columns */
}

.card.patient-department {
  grid-column: span 4; /* Patient Department spans 1 column */
}

/* Second row cards: each takes 1 column */
.small-card {
  padding: 20px; /* Reduce padding for smaller size */
  min-height: 250px; /* Decrease height for smaller cards */
  grid-column: span 3; /* Each card takes 1 column */
}

