.form-header{
  display: flex;
  justify-content: space-between;

}

.treatment-container{
  margin: 10px;
}


.tab-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.tabs {
  display: inline-flex; 
  gap: 8px;
}

.tab, .add-treatment {
  padding: 10px 20px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); 
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.tab {
  background-color: #007bff;
}

.tab:hover {
  background-color: #0056b3;
}

.tab.active {
  background-color: #004494;
}

.add-treatment {
  background-color: #28a745;
}

.add-treatment:hover {
  background-color: #218838;
}

.treatment-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.treatment-table th, .treatment-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

.treatment-table th {
  background-color: #007bff;
  color: white;
}

.badge {
  padding: 4px 10px;
  border-radius: 5px;
}

.badge.single {
  background-color: #d4edda;
  color: #155724;
}

.badge.multiple {
  background-color: #f8d7da;
  color: #721c24;
}

