
.main-content {
    padding: 20px;
  }
  
  .dashboard-cards {
    display: grid;
    grid-template-columns: repeat(9, 1fr); 
    grid-gap: 30px; 
  }
  
  /* Common card styles */
  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    min-height: 250px;
  }
  
  .card.schedules {
    grid-column:span 5; 
  }
  
  .card.health-tips {
    grid-column: span 4; 
  }
  
  
  .small-card {
    padding: 20px; 
    min-height: 250px; 
    grid-column: span 3; 
  }
  
  