@keyframes waveFlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.animated-wave-bg {
  background: linear-gradient(270deg, #2648b6, #0aa171, #2648b6);
  /* background: linear-gradient(270deg, #2347bc, #059669, #2347bc); */
  background-size: 200% 200%;
  animation: waveFlow 12s linear infinite;
}


@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
  display: flex;
  width: max-content;
}

.animate-scroll:hover {
  animation-play-state: paused;
}
