.cash{
    height: 300px;
    width: 300px;
    background-color: white;
    box-shadow: 0 0 10px rgb(0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
}

.cash-rupee{
    align-items: center;
    margin: 0;
}

.cash-tp{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.cash-tp-amt{
    display: flex;

}

.cash-amt{
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.cash-txt{
    background-color: lightgrey;
    border-radius: 4px;
}

.ipt-amt{
    font-family:Arial, Helvetica, sans-serif ;
    padding: 10px;
}

.ent-amt{
  width: 100%;
  border: 2px solid lightgrey;
  border-radius: 5px;
  background: url(./icons/rupee.svg) no-repeat 10px center;
  padding: 0 25px;
}

.ent-amt:active{
 border:2px solid lightblue ;
}

.smp-amt{
    padding: 0 15px 10px 15px;
    
    
}

.smp-amt > button{
    display: inline-flex;
    align-items: center;
    border: 1px solid lightgrey;  
    margin: 0 5px;
    border-radius: 5px;
}

.playbutton{
    justify-content: center;
    background-color: blue;
    width: 100%;
    margin:5px 0 5px 0;
    border-radius: 5px;
    color: white;
}
