.bill-card {
  width: 500px;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  height: 800px;
}

.bill-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.bill-header p {
  color: lightgray;
  font-size: x-small;
}

.header1 {
  display: flex;
  align-items: center;
}
.header2 {
  display: flex;
  margin: 5px;
}

.history-comment {
  background-color: white;
  border: 2px solid lightgrey;
  color: #007bff;
  cursor: pointer;
  margin: 5px;
  display: flex;
  padding: 0;
}

.close,
.menu {
  border: 2px solid lightgrey;
  margin: 5px;
  padding: 0 0 0 5px;
  justify-content: center;
}
.account-selection {
  margin-bottom: 10px;
}

#account {
  width: 100%;
  border: 2px solid gainsboro;
  border-radius: 5px;
}

.default {
  color: lightgrey;
  border: 1px solid lightgrey;
  font-weight: 10px;
  background-color: lightgray;
}

.account-type {
  font-weight: bold;
  color: #1d8f1d;
  background-color: #eafaea;
  padding: 2px 5px;
  border-radius: 5px;
}

.bill-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 450px;
}

.bill-to h4 {
  margin: 5px 0;
  font-size: 1.1em;
}

.bill-date p {
  margin: 5px 0;
}
.bill-info-head {
  color: lightgray;
}

.bill-info-adrs {
  font-size: small;
}

.bill-date {
  justify-items: flex-end;
  width: 100px;
}

.bill-date-head {
  color: lightgray;
}

.status.unpaid {
  color: #d94fbd;
  font-weight: bold;
}

.unpaid {
  font-size: x-small;
  border: 1px solid #f9c8ef;
  border-radius: 5px;
  background-color: #f9c8ef;
}

.bill-items .item {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.item.medicine .view-details {
  background: none;
  border: 1px solid lightgray;
  color: #007bff;
  cursor: pointer;
  font-size: 0.9em;
  border-radius: 5px;
  padding: 5px;
  justify-content: space-between;
}

.bill-totals {
  margin: 5px 0;
}

.bill-name-head {
  color: rgb(135, 134, 134);
}

.bill-box {
  border: 2px solid gainsboro;
}

.note {
  display: flex;
}

.txt-box {
  border: 2px solid gainsboro;
  width: 100%;
  border-radius: 5px;
  height: 70px;
}

.note > span {
  color: gainsboro;
  padding: 0px 0px 5px 0px;
}

.note > p {
  font-size: small;
  padding: 0px 5px 0px 2px;
}

.total-line {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.total-line-txt {
  color: lightgrey;
}

.grand-total {
  font-weight: bold;
}

.secure-txt {
  padding: 15px 5px 0px 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: x-small;
  display: flex;
  align-items: center;
}

.secure-txt img {
  height: 15px;
}

.payment-method {
  margin-top: 10px;
  border: 1px solid gainsboro;
  padding: 10px;
  border-radius: 5px;
}

.payment-option {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 1em;
  border: 1px solid #007bff;
  color: #007bff;
  background: #f0f0f0;
  cursor: pointer;
  border-radius: 5px;
}

.payment-option:hover {
  background-color: #e0e0ff;
}

.rupee {
  height: 10px;
  display: inline;
}

.bill-name {
  font-weight: bold;
}

.bill-items-head {
  background-color: #f0f0f0;
  border: 1px solid gainsboro;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

