.details {
  width: 400px;
  height: 800px;
  background-color: white;
  box-shadow: 0 0 5px rgb(0, 0, 0.1);
  padding: 15px;
  border-radius: 20px;
}

.box1,
.box2,
.box3 {
  padding: 10px;
  box-shadow: 0 1px 0 rgb(239, 237, 237);
}

.rupee {
  height: 10px;
}

.treatment {
  display: flex;
  justify-content: space-between;
}

.treatment-head {
  display: flex;
  font-weight: bold;
}

.trtmnt-tot {
  display: flex;
}

.tf-txt1,
.tc-txt1,
.box3-txt-txt1 {
  font-weight: 475;
}

.tf-txt2,
.tc-txt2,
.box3-txt-txt2 {
  font-weight: 350;
  color: darkgray;
}

.box1-part1,
.box1-part2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box1-part1-amt,
.box1-part2-amt {
  display: flex;
  justify-items: flex-end;
  font-weight: bold;
}

.box2-head {
  display: flex;
  justify-content: space-between;
}

.box2-head-txt {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.box2-anesthetic {
  display: flex;
  justify-content: space-between;
  font-weight: 475;
}

.an-txt2 {
  font-weight: bold;
}

.box2-cp {
  display: flex;
  justify-content: space-between;
}

.box2-cp-txt {
  display: flex;
  justify-content: space-between;
  font-weight: 475;
}

.box2-cp-amt {
  display: flex;
  font-weight: bold;
}

.box2-head-amt {
  display: flex;
}

.box3-head {
  display: flex;
  justify-content: space-between;
}

.box3-head-txt {
  display: flex;
  font-weight: bold;
}

.box3-head-amt {
  display: flex;
}

.box3-content {
  display: flex;
  justify-content: space-between;
}

.box3-amt {
  display: flex;
  font-weight: bold;
}

.component {
  width: 15px;
}

.medicine {
  width: 15px;
}

.bill-treatment {
  width: 15px;
}
/* billdetails.css */

.rupee {
  width: 12px; /* Adjust width as needed */
  height: auto;
  margin-right: 4px; /* Adds some space between rupee image and number */
}

.trtmnt-tot,
.box1-part1-amt,
.box1-part2-amt,
.box2-head-amt,
.box2-cp-amt,
.box3-head-amt,
.box3-amt {
  display: flex;
  align-items: center;
}

.trtmnt-tot p,
.box1-part1-amt,
.box1-part2-amt,
.box2-head-amt p,
.box2-cp-amt p,
.box3-head-amt p,
.box3-amt p {
  margin: 0;
}
