.main {
  background-color: white;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1); 
  z-index: 10;
}

.blurred {
  filter: blur(5px);
  pointer-events: none; 
}

.popup-container {
  height: fit-content;
  overflow-y: auto;
  position: fixed;
  top: 50%;
  right: -10%;
  transform: translate(-50%, -50%);
  z-index: 20;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.main {
  position: relative;
}

.main-head {
  display: flex;
  padding: 20px;
  align-items: center;
}

.txt1 {
  color: lightgrey;
  align-items: center;
}

.txt2 {
  display: flex;
  align-items: center;
}

.r-rupee {
  margin: 0;
}

.bill-button {
  margin: 5px;
}

.pr-button {
  margin: 5px;
}

.head-bill {
  box-shadow: 0 2px 0 rgb(128, 128, 128);
  width: 100%;
}

.billpage {
  margin: 10px;
}

.bill-header {
  display: flex;
  justify-content: space-between;
}

.export {
  border: 1px solid blue;
  background-color: blue;
  color: white;
  padding: 3px;
  border-radius: 5px;
}

.search-box {
  border: 2px solid lightgrey !important;
  background: url(./icons/search.svg) no-repeat 10px center !important;
  padding: 8px 0 8px 40px !important;
  border-radius: 12px !important;
}

.export {
  display: flex;
}

.tot-amt1 {
  display: flex;
}

.more {
  padding: 0px;
  margin: 0px;
}

.table {
  width: 100%;
}
.table-head {
  display: flex;
  justify-content: space-between;
}

.table-content {
  display: flex;
  justify-content: space-between;
}

.table-col5 p {
  display: flex;
}

.table-col8,
.table-col7 {
  display: flex;
  flex-direction: column;
}

.table-col1{
  width: 175px;
  height: 35px;
  padding: 5px 10px;
  align-items: end;
}

.table-col1 p{
  padding: 10px;
}

.table-col2{
  width: 200px;
  height: 35px;
  padding: 5px 10px;
  align-items: end;
}

.table-col2 p{
  padding: 10px;
}

.table-col3{
  width: 200px;
  height: 35px;
  padding: 5px 10px;
  align-items: end;
}

.table-col3 p{
  padding: 10px;
}

.table-col4{
  width: 200px;
  height: 35px;
  padding: 5px 10px;
  align-items:end;
}

.table-col4 p{
  padding: 10px;
}

.table-col5{
  width: 150px;
  height: 35px;
  padding: 5px 10px;
  align-items: end;
}

.table-col5 p{
  padding: 10px;
}

.table-col6{
  width: 150px;
  height: 35px;
  padding: 5px 10px;
  align-items:end;
}

.table-col7,.table-col8{
  width: 50px;
  height: 50px;
  padding: 5px 10px;
  align-items:end;
}

.table-col7 p,.table-col8 p{
  padding: 10px;
  
}

.tbl-sp{
  background-color: blue;
  color: white;
  padding: 5px;
  border-radius: 5px;
}